.form {
  margin: 0;
  padding: 20px;
  border: 2px solid $main-color;
  border-radius: 15px;
}

.text {
  font-size: 20px;
  width: 100%;
}

.time {
  padding: 10px;
}

.header {
  padding: 5px;

  &.__mt {
    margin-top: 15px;
  }
}

.link {
  cursor: default;
  text-decoration: none;
  color: unset;
}
