.button {
  border: none;
  padding: 10px 20px;
  background-color: #fff21b;
  border-radius: 15px;
  transition: .15s transform;
  cursor: pointer;

  &[disabled] {
    cursor: unset;
  }

  &:active {
    transform: scale(1.05);
  }
}
