.account-content {
  display: flex;
  height: 100%;
}

.left-column {
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 400px;
}

.right-column {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.quit-button {
  margin-top: 35px;
  width: 100%;
  font-size: 20px;
}
