.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.field-label {
  display: block;

  & + .field-label {
    margin-top: 30px;
  }
}

.field {
  font-size: 18px;
}

.submit-button {
  margin-top: 50px;
}
