.content {
  min-height: 100%;
}

.container {
  height: 100%;
}

.common-content {
  display: flex;
}

.common-info {
  align-self: flex-start
  font-size: 21px;
  z-index: 1;
  transform: scale(1.2);
  transform-origin: left top;
}

.common-description,
.common-meta {
  margin-top: 30px;
}

.common-meta {
  font-size: 16px;
  color: #313131;
}

.passage-form-container {
  display: flex;
}

.info-wrapper {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  &.__form {
    min-height: 350px;
  }
}

.suggest-header {
  margin-top: 20px;
}

.submit-button {
  margin-top: 30px;
  padding: 20px;
}

.passage-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.passage-template {
  flex-basis: 800px;
}
