.content {
  height: 100%;
}

.container {
  //display: flex;
  //align-items: center;
  //justify-content: center;
  height: 100%;
}

.common-content {
  display: flex;
}

.common-info {
  font-size: 21px;
  z-index: 1;
  transform: scale(1.2);
  transform-origin: left top;
}

.common-description,
.common-meta {
  margin-top: 30px;
}

.common-meta {
  font-size: 16px;
  color: #313131;
}
