.status {
  text-transform: uppercase;
  padding: 5px;
  border-radius: 10px;
  background-color: #eaeaea;

  &.__validated {
    background-color: #abd5fc;
  }

  &.__activated {
    background-color: #f39cf2;
  }

  &.__fully-activated {
    background-color: #72f572;
  }
}