.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
}

$link {
  text-decoration: none;
  color: #000;
}

.link {
  @extend $link;
  padding: 30px 15px;
  border-radius: 25px;
  transition: .15s ease-in-out background-color;

  &.__current {
    background-color: rgba(255, 242, 27, 0.2);
  }

  &:hover {
    background-color: #fff21b;
  }
}

.links {
  display: flex;
}

.main-link {
  @extend $link;
  font-size: 28px;
}
